* {
    box-sizing: border-box;
  }
  
  body {margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
 position: fixed;
 width: 100%;
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
  }
  
  /* Container for flexboxes */
  #section1 {
    padding-top: 120px;
    display: -webkit-flex;
    display: flex;
    height: 100vh;
  }
  
  /* Style the navigation menu */
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #fffdd7;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul{
    list-style-type: none;
    padding: 0;
  }
  
  /* Style the content */
  div {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-image: url("./images/0031.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
  }
  
  /* Style the footer */
  footer {
    background-color: #485262;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    position:fixed;
    width: 100%;
    bottom: 0px;
    
  }

  #nav1
  {
    display: flex;
    flex:1fr 11fr;
    font-size: 14px;
   justify-content: flex-end;
   text-align: center;
   background-color: #202327;
  }
  #nav1 ul{
    display: flex;
  }
  #hero h2{
    text-align: center;
    justify-content: center;
    left: 50%;
    right: 50%;
    top: 40%;
    position: absolute;
    color: white;
    font-size: 300%;
  }
  #nav1 li
  {padding: 10px;
border-radius: 15%;
margin:10px;
border: 2px solid rgb(255, 255, 255);
cursor: pointer;}
#section2{
  padding-bottom: 200px;
}
 @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    #nav1{
        display: block;
        
    }
    #nav1 ul{
  display: block;
    }
  }